<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">TimeTable</h1>
        <div class="panel-default">
          <div class="panel-heading">
            <input type="text" placeholder="For Class" />
            <button class="btn-primary">Add New</button>
          </div>

          <table class="table" style="width:100%">
            <thead>
              <tr>
                <th>Time</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <tbody>
                  <tr>
                    <td>
                      <input type="text" id="p1" placeholder="--/--" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="mp1" placeholder="Subject" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="tp1" placeholder="Subject" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="wp1" placeholder="Subject" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="thp1" placeholder="Subject" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="f1" placeholder="Subject" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="s1" placeholder="Subject" class="form-control" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="text" id="p2" placeholder="--/--" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="mp2" placeholder="Subject" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="tp2" placeholder="Subject" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="wp2" placeholder="Subject" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="thp2" placeholder="Subject" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="f2" placeholder="Subject" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="s2" placeholder="Subject" class="form-control" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="text" id="p3" placeholder="--/--" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="mp3" placeholder="Subject" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="tp3" placeholder="Subject" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="wp3" placeholder="Subject" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="thp3" placeholder="Subject" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="f3" placeholder="Subject" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="s3" placeholder="Subject" class="form-control" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="text" id="p4" placeholder="--/--" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="mp4" placeholder="Subject" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="tp4" placeholder="Subject" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="wp4" placeholder="Subject" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="thp4" placeholder="Subject" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="f4" placeholder="Subject" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="s4" placeholder="Subject" class="form-control" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="text" id="p5" placeholder="--/--" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="mp5" placeholder="Subject" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="tp5" placeholder="Subject" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="wp5" placeholder="Subject" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="Th5" placeholder="Subject" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="f5" placeholder="Subject" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="s5" placeholder="Subject" class="form-control" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="text" id="p6" placeholder="--/--" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="mp6" placeholder="Subject" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="tp6" placeholder="Subject" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="wp6" placeholder="Subject" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="thp6" placeholder="Subject" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="fp6" placeholder="Subject" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="sp6" placeholder="Subject" class="form-control" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="text" id="p7" placeholder="--/--" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="mp7" placeholder="Subject" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="tp7" placeholder="Subject" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="wp7" placeholder="Subject" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="thp7" placeholder="Subject" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="fp7" placeholder="Subject" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="sp7" placeholder="Subject" class="form-control" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="text" id="p8" placeholder="--/--" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="mp8" placeholder="Subject" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="tp8" placeholder="Subject" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="wp8" placeholder="Subject" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="thp8" placeholder="Subject" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="fp8" placeholder="Subject" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="sp8" placeholder="Subject" class="form-control" />
                    </td>
                  </tr>
                  <tr>

                    <td>
                      <input type="text" id="mp9" placeholder="--/--" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="tp9" placeholder="Subject" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="wp9" placeholder="Subject" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="thp9" placeholder="Subject" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="fp9" placeholder="Subject" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="sp9" placeholder="Subject" class="form-control" />
                    </td>
                    <td>
                      <input type="text" id="Text1" placeholder="Subject" class="form-control" />
                    </td>
                  </tr>
                </tbody>
          </table>











          <br />
          <br />
          <div class="card" style="width:auto">
            <div class="header">
              <button style="width:auto; height:25px; font-size:small; border-style:none ; " class="btn-primary">Edit Timetable</button>
            </div>
            <table class="table" style="width:100%">
              <thead>
                <tr>
                  <th>Time</th>
                  <th>Monday</th>
                  <th>Tuesday</th>
                  <th>Wednesday</th>
                  <th>Thursday</th>
                  <th>Friday</th>
                  <th>Saturday</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <tbody>
                    <tr>
                      <td>
                        <label>--/--</label>
                      </td>
                      <td>
                        <label id="Text3">Subject</label>
                      </td>
                      <td>
                        <label id="Text4">Subject</label>
                      </td>
                      <td>
                        <label id="Text5">Subject</label>
                      </td>
                      <td>
                        <label id="Text6">Subject</label>
                      </td>
                      <td>
                        <label id="Text7">Subject</label>
                      </td>
                      <td>
                        <label id="Text8">Subject</label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label id="Text9">--/--</label>
                      </td>
                      <td>
                        <label id="Text10">Subject</label>
                      </td>
                      <td>
                        <label id="Text11">Subject</label>
                      </td>
                      <td>
                        <label id="Text12">Subject</label>
                      </td>
                      <td>
                        <label id="Text13">Subject</label>
                      </td>
                      <td>
                        <label id="Text14">Subject</label>
                      </td>
                      <td>
                        <label id="Text15">Subject</label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label id="Text16">--/--</label>
                      </td>
                      <td>
                        <label id="Text17">Subject</label>
                      </td>
                      <td>
                        <label id="Text18">Subject</label>
                      </td>
                      <td>
                        <label id="Text19">Subject</label>
                      </td>
                      <td>
                        <label id="Text20">Subject</label>
                      </td>
                      <td>
                        <label id="Text21">Subject</label>
                      </td>
                      <td>
                        <label id="Text22">Subject</label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label id="Text23">--/--</label>
                      </td>
                      <td>
                        <label id="Text24">Subject</label>
                      </td>
                      <td>
                        <label id="Text25">Subject</label>
                      </td>
                      <td>
                        <label id="Text26">Subject</label>
                      </td>
                      <td>
                        <label id="Text27">Subject</label>
                      </td>
                      <td>
                        <label id="Text28">Subject</label>
                      </td>
                      <td>
                        <label id="Text29">Subject</label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label id="Text30">--/--</label>
                      </td>
                      <td>
                        <label id="Text31">Subject</label>
                      </td>
                      <td>
                        <label id="Text32">Subject</label>
                      </td>
                      <td>
                        <label id="Text33">Subject</label>
                      </td>
                      <td>
                        <label id="Text34">Subject</label>
                      </td>
                      <td>
                        <label id="Text35">Subject</label>
                      </td>
                      <td>
                        <label id="Text36">Subject</label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label id="Text37">--/--</label>
                      </td>
                      <td>
                        <label id="Text38">Subject</label>
                      </td>
                      <td>
                        <label id="Text39">Subject</label>
                      </td>
                      <td>
                        <label id="Text40">Subject</label>
                      </td>
                      <td>
                        <label id="Text41">Subject</label>
                      </td>
                      <td>
                        <label id="Text42">Subject</label>
                      </td>
                      <td>
                        <label id="Text43">Subject</label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label id="Text44">--/--</label>
                      </td>
                      <td>
                        <label id="Text45">Subject</label>
                      </td>
                      <td>
                        <label id="Text46">Subject</label>
                      </td>
                      <td>
                        <label id="Text47">Subject</label>
                      </td>
                      <td>
                        <label id="Text48">Subject</label>
                      </td>
                      <td>
                        <label id="Text49">Subject</label>
                      </td>
                      <td>
                        <label id="Text50">Subject</label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label id="Text51">--/--</label>
                      </td>
                      <td>
                        <label id="Text52">Subject</label>
                      </td>
                      <td>
                        <label id="Text53">Subject</label>
                      </td>
                      <td>
                        <label id="Text54">Subject</label>
                      </td>
                      <td>
                        <label id="Text55">Subject</label>
                      </td>
                      <td>
                        <label id="Text56">Subject</label>
                      </td>
                      <td>
                        <label id="Text57">Subject</label>
                      </td>
                    </tr>
                    <tr>

                      <td>
                        <label id="Text58">--/--</label>
                      </td>
                      <td>
                        <label id="Text59">Subject</label>
                      </td>
                      <td>
                        <label id="Text60">Subject</label>
                      </td>
                      <td>
                        <label id="Text61">Subject</label>
                      </td>
                      <td>
                        <label id="Text62">Subject</label>
                      </td>
                      <td>
                        <label id="Text63">Subject</label>
                      </td>
                      <td>
                        <label id="Text64">Subject</label>
                      </td>
                    </tr>
                  </tbody>
            </table>
          </div>
        </div>
        <div class="card" style="width:auto">
          <div class="header">
            <button style="width:auto; height:25px; font-size:small; border-style:none ; " class="btn-primary">Edit Timetable</button>
          </div>
          <table class="table" style="width:100%">
            <thead>
              <tr>
                <th>Time</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <tbody>
                  <tr>
                    <td>
                      <label>--/--</label>
                    </td>
                    <td>
                      <label id="Label1">Subject</label>
                    </td>
                    <td>
                      <label id="Label2">Subject</label>
                    </td>
                    <td>
                      <label id="Label3">Subject</label>
                    </td>
                    <td>
                      <label id="Label4">Subject</label>
                    </td>
                    <td>
                      <label id="Label5">Subject</label>
                    </td>
                    <td>
                      <label id="Label6">Subject</label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label id="Label7">--/--</label>
                    </td>
                    <td>
                      <label id="Label8">Subject</label>
                    </td>
                    <td>
                      <label id="Label9">Subject</label>
                    </td>
                    <td>
                      <label id="Label10">Subject</label>
                    </td>
                    <td>
                      <label id="Label11">Subject</label>
                    </td>
                    <td>
                      <label id="Label12">Subject</label>
                    </td>
                    <td>
                      <label id="Label13">Subject</label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label id="Label14">--/--</label>
                    </td>
                    <td>
                      <label id="Label15">Subject</label>
                    </td>
                    <td>
                      <label id="Label16">Subject</label>
                    </td>
                    <td>
                      <label id="Label17">Subject</label>
                    </td>
                    <td>
                      <label id="Label18">Subject</label>
                    </td>
                    <td>
                      <label id="Label19">Subject</label>
                    </td>
                    <td>
                      <label id="Label20">Subject</label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label id="Label21">--/--</label>
                    </td>
                    <td>
                      <label id="Label22">Subject</label>
                    </td>
                    <td>
                      <label id="Label23">Subject</label>
                    </td>
                    <td>
                      <label id="Label24">Subject</label>
                    </td>
                    <td>
                      <label id="Label25">Subject</label>
                    </td>
                    <td>
                      <label id="Label26">Subject</label>
                    </td>
                    <td>
                      <label id="Label27">Subject</label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label id="Label28">--/--</label>
                    </td>
                    <td>
                      <label id="Label29">Subject</label>
                    </td>
                    <td>
                      <label id="Label30">Subject</label>
                    </td>
                    <td>
                      <label id="Label31">Subject</label>
                    </td>
                    <td>
                      <label id="Label32">Subject</label>
                    </td>
                    <td>
                      <label id="Label33">Subject</label>
                    </td>
                    <td>
                      <label id="Label34">Subject</label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label id="Label35">--/--</label>
                    </td>
                    <td>
                      <label id="Label36">Subject</label>
                    </td>
                    <td>
                      <label id="Label37">Subject</label>
                    </td>
                    <td>
                      <label id="Label38">Subject</label>
                    </td>
                    <td>
                      <label id="Label39">Subject</label>
                    </td>
                    <td>
                      <label id="Label40">Subject</label>
                    </td>
                    <td>
                      <label id="Label41">Subject</label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label id="Label42">--/--</label>
                    </td>
                    <td>
                      <label id="Label43">Subject</label>
                    </td>
                    <td>
                      <label id="Label44">Subject</label>
                    </td>
                    <td>
                      <label id="Label45">Subject</label>
                    </td>
                    <td>
                      <label id="Label46">Subject</label>
                    </td>
                    <td>
                      <label id="Label47">Subject</label>
                    </td>
                    <td>
                      <label id="Label48">Subject</label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label id="Label49">--/--</label>
                    </td>
                    <td>
                      <label id="Label50">Subject</label>
                    </td>
                    <td>
                      <label id="Label51">Subject</label>
                    </td>
                    <td>
                      <label id="Label52">Subject</label>
                    </td>
                    <td>
                      <label id="Label53">Subject</label>
                    </td>
                    <td>
                      <label id="Label54">Subject</label>
                    </td>
                    <td>
                      <label id="Label55">Subject</label>
                    </td>
                  </tr>
                  <tr>

                    <td>
                      <label id="Label56">--/--</label>
                    </td>
                    <td>
                      <label id="Label57">Subject</label>
                    </td>
                    <td>
                      <label id="Label58">Subject</label>
                    </td>
                    <td>
                      <label id="Label59">Subject</label>
                    </td>
                    <td>
                      <label id="Label60">Subject</label>
                    </td>
                    <td>
                      <label id="Label61">Subject</label>
                    </td>
                    <td>
                      <label id="Label62">Subject</label>
                    </td>
                  </tr>
                </tbody>
          </table>
        </div>
      </div>

    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
</div>