aniso8601==3.0.0
click==6.7
Flask==0.12.2
Flask-Cors==3.0.3
Flask-HTTPAuth==3.2.3
Flask-RESTful==0.3.6
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
numpy==1.14.2
pandas==0.22.0
passlib==1.7.1
pkg-resources==0.0.0
pony==0.7.3
PyJWT==1.6.1
PyMySQL==0.8.0
python-dateutil==2.7.2
pytz==2018.3
six==1.11.0
Werkzeug==0.14.1
