<div id="page-wrapper">
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">Internal Exam Notifications and Results </h1>
      </div>
      <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
      <div class="col-lg-6">
          <div class="panel panel-default">
              <div class="panel-heading">
                  Exam Results
              </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                  <div class="alert alert-success">
                      Click Here for Results of B.Tech I Year I Sem Internal Examinations - 1, December 2017. <a href="Marks_Results_Internal.html" class="alert-link">Results Link</a>.
                  </div>
                  <div class="alert alert-info">
                      Click Here for Results of B.Tech I Year I Sem Internal Examinations - 1, December 2017. <a href="Marks_Results_Internal.html" class="alert-link">Results Link</a>.
                  </div>
                  <div class="alert alert-success">
                     Click Here for Results of B.Tech I Year I Sem Internal Examinations - 1, December 2017. <a href="Marks_Results_Internal.html" class="alert-link">Results Link</a>.
                  </div>
                  <div class="alert alert-info">
                      Click Here for Results of B.Tech I Year I Sem Internal Examinations - 1, December 2017. <a href="Marks_Results_Internal.html" class="alert-link">Results Link</a>.
                  </div>
                  <div class="alert alert-success">
                      Click Here for Results of B.Tech I Year I Sem Internal Examinations - 1, December 2017. <a href="Marks_Results_Internal.html" class="alert-link">Results Link</a>.
                  </div>
                  <div class="alert alert-info">
                      Click Here for Results of B.Tech I Year I Sem Internal Examinations - 1, December 2017. <a href="Marks_Results_Internal.html" class="alert-link">Results Link</a>.
                  </div>
                  <div class="alert alert-success">
                      Click Here for Results of B.Tech I Year I Sem Internal Examinations - 1, December 2017. <a href="Marks_Results_Internal.html" class="alert-link">Results Link</a>.
                  </div>
              </div>
              <!-- .panel-body -->
          </div>
          <!-- /.panel -->
      </div>
      <!-- /.col-lg-6 -->
      <div class="col-lg-6">
          <div class="panel panel-default">
              <div class="panel-heading">
                  Exam Notifications
              </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                  <div class="alert alert-success alert-dismissable">
                     JNTUA B.Tech 1-2, 2-2, 3-2,4-2 Internal Exam Time Tables May 2018. <a href="#" class="alert-link">Notifications Link</a>.
                  </div>
                  <div class="alert alert-info alert-dismissable">
                      JNTUA B.Tech 1-2, 2-2, 3-2,4-2 Internal Exam Time Tables May 2018. <a href="#" class="alert-link">Notifications Link</a>.
                  </div>
                  <div class="alert alert-success alert-dismissable">
                      
                     JNTUA B.Tech 1-2, 2-2, 3-2,4-2 Internal Exam Time Tables May 2018. <a href="#" class="alert-link">Notifications Link</a>.
                  </div>
                  <div class="alert alert-info alert-dismissable">
                      
                    JNTUA B.Tech 1-2, 2-2, 3-2,4-2 Internal Exam Time Tables May 2018. <a href="#" class="alert-link">Notifications Link</a>.
                  </div>
              </div>
              <!-- .panel-body -->
          </div>
          <!-- /.panel -->
      </div>
      <!-- /.col-lg-6 -->
  </div>
  <!-- /.row -->
  
  <!-- /.row -->
</div>